<div class="container">
  <br><br>
<h1 class="h3 mb-3 fw-normal">Sign Up</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-floating">
    <input type="text" class="form-control" formControlName="username"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" id="floatingInput" placeholder="username">
    <label for="floatingInput">Username</label>
    
  </div>
  <div>
    <p class="text-danger" *ngIf="f.username.errors?.usernameExist">username is alredy taken</p>
  </div>
 <div class="form-floating">
    <input type="email" class="form-control" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" formControlName="password2"  [ngClass]="{ 'is-invalid': submitted && f.password2.errors }" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Confirm Password</label>
  </div>
  <div>
    <p class="text-danger" *ngIf="submitted && f.password2.errors">Confirm Password is required and must match Password. </p>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="w-100 btn btn-lg btn-outline-secondary rounded-xl" type="submit">Sign Up</button>

  
</form>
</div>
