<app-nav></app-nav>
<section class="main-banner"  >
    <div class="banner-overlay">
      <div class="container" id="">
        <br>
          <div class="search-bar mt-5 p-3 p-lg-1 pl-lg-4">
              <form (ngSubmit)="search()">
                <div class="row">
                  <div class="col-lg-5 d-flex align-items-center form-group">
                    <input class="form-control border-0 shadow-0" matInput
                    matGoogleMapsAutocomplete
                    (onAutocompleteSelected)="onAutocompleteSelected($event)"
                    (onLocationSelected)="onLocationSelected($event)"  type="text" [(ngModel)]="q.from" placeholder="Where to get ride?" name="from">
                    <!-- <input class="form-control border-0 shadow-0" type="text" [(ngModel)]="q.search" name='search' placeholder="What are you searching for?"> -->
                  </div>
                 
                  <div class="col-lg-5 d-flex align-items-center form-group">
                    |<label class="label-absolute" for="location"><i class="fa fa-crosshairs"></i><span class="sr-only">City</span></label>
                    <input class="form-control border-0 shadow-0" matInput
                    matGoogleMapsAutocomplete
                    (onAutocompleteSelected)="onAutocompleteToSelected($event)"
                    (onLocationSelected)="onLocationToSelected($event)" type="text" [(ngModel)]="q.to" placeholder=" Where are you going?" name="to">
                      
                    </div>
                  
                  <div class="col-lg-2">
                    <button class="btn btn-primary btn-block rounded-xl h-100" type="submit">Find Taxi </button>
                  </div>
                </div>
              </form>
            </div>
  
            <br><br>
      
            <h1 style="color: black;">Auto-Taxi for Business </h1>
           <p style="color: black;">Transform the way you ride Taxis with Auto-Taxi.</p>
           

           <button (click)="getLocation()" class="btn btn-block btn-dark rounded-xl">Browse Rank</button>
           <a class="btn btn-block btn-dark rounded-xl"  routerLink="/register-driver">Drive and Earn</a>
      </div>
      
    </div>
  </section>

 <app-ranks></app-ranks>
 <app-footer></app-footer>
