<app-nav></app-nav>
<div class="container p-0">
    <br>
    <div class="card px-4">
        <p class="h8 py-3">Payment Details</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row gx-3">
            <div class="col-12">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Person Name</p>
                    <input class="form-control mb-3" type="text" formControlName="name"  [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Name">
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Card Number</p>
                    <input class="form-control mb-3" type="text" formControlName="cardNumber"  [ngClass]="{ 'is-invalid': submitted && f.cardNumber.errors }" placeholder="1234 5678 435678">
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Expiry</p>
                    <input class="form-control mb-3" type="text" formControlName="expireDate"  [ngClass]="{ 'is-invalid': submitted && f.expireDate.errors }" placeholder="MM/YYYY">
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column">
                    <p class="text mb-1">CVV/CVC</p>
                    <input class="form-control mb-3 pt-2 " type="password" formControlName="cvv"  [ngClass]="{ 'is-invalid': submitted && f.cvv.errors }" placeholder="***">
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary mb-3" type="submit">
                    <span class="ps-3">Pay R{{price}}</span>
                    <span class="fas fa-arrow-right"></span>
                </button>
            </div>
        </div>
        </form>
    </div>
</div>
<app-footer></app-footer>
