<app-nav></app-nav>
<section class="car-list"> 
    <div class="container">
        <br><br>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Payment Failed, Check With Your Bank!</h4>
            <br>
            <p>Your payment for the trip did not go through, check your bank and try again</p>
            <br>
            <hr>
            <button class="btn1 btn-lg btn-block btn-danger">Try again</button>

          </div>

    </div>

</section>
<app-footer></app-footer>
