<app-nav></app-nav>
<section>
    <br><br>
    
    <div  class="container" id=""> 
        <h3>{{message}}</h3>

        <div *ngIf="status">
            <br>
            <p>you need to search again.</p>
            <a routerLink="/" class="btn1 btn-lg btn-block btn-danger" style="padding-left: 30px; padding-right: 30px;">Home Page</a>
                     
        </div>
        <div class="row">
    <div class="col-md-6">
        <div *ngIf="ranks">
            <div *ngFor="let item of ranks" class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-5">
                    <img (click)="goto(item.id)" src="../../../assets/bus-stop.png" width="120px" height="120px" alt="...">
                </div>
                <div class="col-md-7">
                    <div class="card-body mxf">
                    <a routerLink="/rank-details/{{item.id}}">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">Pretoria CBD --> Soshanguve</p>
                        <p class="card-text"><small class="text-muted">From R20</small></p>
                    </a>
                    <button (click)="goto(1)" class="btn1 btn-lg btn-block btn-danger" style="padding-left: 30px; padding-right: 30px;">ride here</button>
                        
                    
                    </div>
                </div>
                </div>
            </div>
        </div>
       
    </div>
    <div class="col-md-6">
        <div class="map">
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                <agm-direction *ngIf="directions" [origin]="directions.origin" [destination]="directions.destination"></agm-direction>
              </agm-map>
        </div>
    </div>
    </div>
    </div>
  </section>
