<app-nav></app-nav>
<section>
    <div class="container">
        <br><br>
    <h3>Select Taxi you have boarded</h3>
    <p>confirm that the taxi you paying for is the one you are getting in</p>
    <div class="container" id=""> 
    <div class="col-md-12">
        <div class="row">
            <div *ngIf="ranks">
                <div *ngFor="let item of ranks" class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                    <div class="col-md-5">
                        <img (click)="goto(item.id)" src="../../../assets/van.png" width="128px" height="128px" alt="...">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body mxf">
                        <a routerLink="/car-details/{{item.id}}">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-text">Toyota</p>
                            <p class="card-text"><small class="text-muted">R20</small></p>
                        </a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
       
       
    </div>
    </div>
    </div>
</section>
