<div class="main-headers">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark main-nav">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">IFindTaxi</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- <form class="d-flex" data-bs-toggle="collapse">
            <input class="form-control me-2" type="search"  placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
           
            
            </div>
          <a *ngIf="!isLoggedIn" routerLink="/login" class="btn btn-light rounded-xl" type="submit" data-bs-toggle="modal" href="#exampleModalToggle">Login<i class="fas fa-user-circle"></i></a>
          <a *ngIf="!isLoggedIn" routerLink="/register" class="btn btn-light rounded-xl" type="submit" data-bs-toggle="modal" href="#exampleModalToggle">register<i class="fas fa-user-circle"></i></a>
          
          <button *ngIf="isLoggedIn" class="btn btn-light rounded-xl" type="submit" data-bs-toggle="modal" href="#exampleModalToggle"><i class="fas fa-bars">{{user.username}}</i><i class="fas fa-user-circle"></i></button>
          
        </div>
      </nav>
        

    </div>
    
</div>

<!-- modals -->
<div class="container">

  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog">
  <div class="modal-content">
  <div class="modal-body">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddExpenseModal></button>
    <hr>
    you are logged in as {{user.username}}<br>
    <hr>
    <button *ngIf="isLoggedIn" class="btn btn-light rounded-xl" (click)="logout()">Logout<i class="fas fa-user-circle"></i></button>
    

  </div>
  
  </div>
  </div>
  </div>
  
    
  
  </div>
  
    
    
