<app-nav></app-nav>
<div class="container">
  <br><br>
<h1 class="h3 mb-3 fw-normal">Sign in</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
         <div class="form-floating">
            <input type="email" class="form-control" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="floatingInput" placeholder="johndoe">
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
      
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-outline-secondary rounded-xl" type="submit">Sign in</button>
          or
          <a class="w-100 btn btn-lg btn-outline-dark rounded-xl" routerLink="/register">Create new Account</a>
          
        </form>

      </div>
